@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  min-width: 450px;
  width: auto !important;
  width: 450px;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.header-container {
  display: inline-flex;
  align-items: center;
}

.header-button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: inherit;
  margin-left: 5px;
}

.header-message-container .loged {
  margin-left: 30px;
  margin-right: 30px;
  color: #3498db;
}

.columns-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.column {
  width: 25vw;
  height: fit-content;
  border: 2px solid grey;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  width: max-content;
}

.column .column-content {
  padding-top: 40px;
}

.column .column-ticket {
  border: 2px solid grey;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 8px;
  padding: 10px;
  cursor: move;
  width: auto;
  max-width: 250px;
}

.ticket-big,
.user-big {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  background-color: white;
  font-size: 1.5rem;
}

.ticket-title {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: black;
}

.ticket-title:hover {
  color: #3498db;
}

.ticket-button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  background: rgba(0, 0, 0, 0.3);
}

.dialog-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: pink;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.dialog {
  position: absolute;
  background-color: #fff;
  color: black;
  left: 50vw;
  top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.dialog .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dialog .button-container button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.form-container {
  position: absolute;
  background-color: #fff;
  color: black;
  left: 50vw;
  top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form {
  padding: 30px 7vw;
}

.form-group {
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
}

.form-group label {
  font-size: smaller;
  color: black;
  display: block;
  margin-bottom: 5px;
}

.ember-text-area.ember-view {
  font-family: inherit;
}

.form-group input,
textarea,
select {
  border: 2px solid grey;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-group input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-color: blue;
}

.form textarea {
  resize: none;
}

.form-group small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-button-create,
.form-button-save {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.close {
  cursor: pointer;
  position: absolute;
  left: 75%;
  top: 8%;
}

.hide {
  display: none;
}

.dragstart {
  border-color: black;
  background-color: grey;
  z-index: 100;
  opacity: 50%;
}

.ticket-date {
  font-size: small;
}

.ember-basic-dropdown-trigger {
  border: 2px solid grey;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

.ember-power-select-selected-item {
  font-size: inherit;
}

.alert-message {
  color: red;
}

@media screen and (max-width: 800px) {
  .columns-container {
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .column {
    width: auto;
  }
  .column .column-ticket {
    width: auto;
    max-width: unset;
  }
}
