<header class='header-main'>
  <div id='header-container'>
    <LinkTo @route='modal' class='header-button'>+ Add

    </LinkTo>
    {{!     <button id='add-button'></button> }}
    <span class='message' id='message'>i am a temporary message // </span>
    <span class='date' id='date'>i am a temporary date</span>
  </div>
</header>