<div class='columns-container'>
  <Column
    @id='backlog'
    @contentId='backlog-content'
    @header='BACKLOG'
    @message='Add or drop ticket'
  />
  <Column
    @id='in-development'
    @contentId='development-content'
    @header='IN DEVELOPMENT'
    @message='Add or drop ticket'
  />
  <Column
    @id='in-testing'
    @contentId='testing-content'
    @header='IN TESTING'
    @message='Add or drop ticket'
  />
  <Column
    @id='accept'
    @contentId='accepted-content'
    @header='ACCEPTED'
    @message='Add or drop ticket'
  />
</div>