<div class='form-container'>
  <form class='form'>
    {{yield}}
    <button
      {{on 'click' this.submitForm}}
      class='form-button-create'
      type='button'
    >Create</button>
  </form>
</div>