<header class='header-main'>
  <div class='header-container'>
    <LinkTo @route='add' class='header-button'>+ Add Ticket</LinkTo>
    <LinkTo @route='add-user' class='header-button'>+ Add User</LinkTo>
    <div class='header-message-container'>
      <span class='message'>{{@headerMessage}}</span>
      <span> : </span>
      <span class='date'>{{@headerDate}}</span>
    </div>
  </div>
</header>