<div class='modal'>
  <div class='modal-backdrop'>
    <div class='modal-wrapper'>
      <header class='modal-header'>
        <button {{on 'click' @changeRoute}} class='close'>
          x
        </button></header>
      <div class='modal-content'>
        {{yield}}
      </div>
    </div>
  </div>
</div>