<div class='modal {{if this.isClosed 'hide'}}'>
  <div class='modal-backdrop'>
    <div class='modal-wrapper'>
      <header class='modal-header'>
        <button {{on 'click' this.close}} class='close'>
          {{! change to button }}
          x
        </button></header>
      <div class='modal-content'>
        {{yield}}
      </div>
    </div>
  </div>
</div>