<div class='column-ticket' draggable='true'>
  <h4>{{@title}}</h4>
  <LinkTo
    @route='edit'
    @model={{@ticket_id}}
    class='ticket-button'
  >Edit</LinkTo>
  <LinkTo
    @route='delete'
    @model={{@ticket_id}}
    class='ticket-button'
  >Delete</LinkTo>
  <div class='ticket-date'>Last Change: {{@date}}</div>
</div>