<div class='column-ticket' id='787' draggable='true' ticket_id={{@ticket_id}}>
  <h4>{{@title}}</h4>
  <Ticket::Edit />
  <Ticket::Delete />
  <div class='ticket-date'>Last Change: {{@date}}</div>
</div>